/* add your CSS here */
.card {
  width: 300px;
  border: 1px solid black;
  background-color: #33ccff;
  box-shadow: 10px -16px teal;
}

.title {
  color: white;
}

.fact {
  font-style: italic;
}

.label {
  font-weight: bold;
}

.list{
  list-style: none;
  padding-left: 2px;
}

.details {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  background-color: #4da6ff;
}